
@font-face {
    font-family: 'courier';
    src: url('cour-webfont.woff2') format('woff2'),
         url('cour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_bold';
    src: url('fonts/Courier New Bold/Courier New Bold.woff2') format('woff2'),
         url('fonts/Courier New Bold/Courier New Bold.woff') format('woff'),
         url('fonts/Courier New Bold/Courier New Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body {font-family: courier_bold;}
h1, h2{text-align: center}
