
@font-face {
    font-family: 'courier';
    src: url('resources/fonts/Courier New/Courier New.woff2') format('woff2'),
         url('resources/fonts/Courier New/Courier New.woff') format('woff'),
         url('resources/fonts/Courier New/Courier New.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_bold';
    src: url('resources/fonts/Courier New Bold/Courier New Bold.woff2') format('woff2'),
         url('resources/fonts/Courier New Bold/Courier New Bold.woff') format('woff'),
         url('resources/fonts/Courier New Bold/Courier New Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body {font-family: courier_bold; margin: 10%;font-weight:bold; background-color: #FCFCFC; text-align:left; font-size:2vw}

h1, h2{font-family: courier; text-align: center}

a {text-decoration:none}

p {padding:2vw}
hr {height:.4vw; background-color:black}

input {font-family: courier_bold; font-weight:bold; font-size: 2vw;}
button {font-family: Quicksand; background:black; color: white; border:none; font-size: 3vw}
.thick_line {height:10px; background-color: black; border-color: black;}
textarea{width: 100%; font-family: courier; font-weight:bold; font-size: 2vw;}
.ti{width: 100%}
hr{height:.4vw; background-color: black;}
table{border-collapse: collapse; border: 1px solid black; font-size:2vw; width:100%}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}
