
@font-face {
    font-family: 'courier';
    src: url('resources/fonts/Courier New/Courier New.woff2') format('woff2'),
         url('resources/fonts/Courier New/Courier New.woff') format('woff'),
         url('resources/fonts/Courier New/Courier New.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'courier_bold';
    src: url('resources/fonts/Courier New Bold/Courier New Bold.woff2') format('woff2'),
         url('resources/fonts/Courier New Bold/Courier New Bold.woff') format('woff'),
         url('resources/fonts/Courier New Bold/Courier New Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body {font-family: courier_bold;}
h1, h2{font-family: courier; text-align: center}
